<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Left wheel -->
  <link name="left_wheel">

    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>

      <material name="black">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>

    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.0"/>

      <inertia
        ixx="0.001"
        ixy="0"
        ixz="0"
        iyy="0.001"
        iyz="0"
        izz="0.001"/>
    </inertial>

  </link>

  <!-- Right wheel -->
  <link name="right_wheel">

    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>

      <material name="black"/>

    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.0"/>

      <inertia
        ixx="0.001"
        ixy="0"
        ixz="0"
        iyy="0.001"
        iyz="0"
        izz="0.001"/>
    </inertial>

  </link>

  <!-- Left wheel joint -->
  <joint name="left_wheel_joint" type="continuous">

    <parent link="base_link"/>
    <child link="left_wheel"/>

    <origin xyz="0 0.18 0.05"/>

    <axis xyz="0 1 0"/>

  </joint>

  <!-- Right wheel joint -->
  <joint name="right_wheel_joint" type="continuous">

    <parent link="base_link"/>
    <child link="right_wheel"/>

    <origin xyz="0 -0.18 0.05"/>

    <axis xyz="0 1 0"/>

  </joint>

</robot>