<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="base">

    <!-- Root Link -->
    <link name="base_footprint"/>

    <!-- Main Robot Body -->
    <link name="base_link">

      <!-- Visual -->
      <visual>
        <geometry>
          <box size="${base_length} ${base_width} ${base_height}"/>
        </geometry>

        <material name="green">
          <color rgba="0 1 0 1"/>
        </material>
      </visual>

      <!-- Collision -->
      <collision>
        <geometry>
          <box size="${base_length} ${base_width} ${base_height}"/>
        </geometry>
      </collision>

      <!-- Inertial -->
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="5.0"/>

        <inertia
          ixx="0.060"
          ixy="0.0"
          ixz="0.0"
          iyy="0.120"
          iyz="0.0"
          izz="0.150"/>
      </inertial>

    </link>

    <!-- Fixed Joint -->
    <joint name="base_footprint_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 ${base_height/2}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>