<?xml version="1.0"?>

<robot name="my_robot">


<!-- ================= -->
<!-- BASE LINK -->
<!-- ================= -->

<link name="base_link">

  <visual>
    <geometry>
      <box size="0.5 0.3 0.2"/>
    </geometry>

    <material name="green">
      <color rgba="0 1 0 1"/>
    </material>
  </visual>

</link>



<!-- ================= -->
<!-- LEFT WHEEL -->
<!-- ================= -->

<link name="left_wheel">

  <visual>

    <origin rpy="1.5708 0 0"/>

    <geometry>
      <cylinder radius="0.08" length="0.03"/>
    </geometry>

    <material name="black">
      <color rgba="0 0 0 1"/>
    </material>

  </visual>

</link>



<!-- ================= -->
<!-- RIGHT WHEEL -->
<!-- ================= -->

<link name="right_wheel">

  <visual>

    <origin rpy="1.5708 0 0"/>

    <geometry>
      <cylinder radius="0.08" length="0.03"/>
    </geometry>

    <material name="black">
      <color rgba="0 0 0 1"/>
    </material>

  </visual>

</link>



<!-- ================= -->
<!-- CASTER WHEEL -->
<!-- ================= -->

<link name="caster_wheel">

  <visual>

    <geometry>
      <sphere radius="0.05"/>
    </geometry>

    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>

  </visual>

</link>



<!-- ================= -->
<!-- LEFT WHEEL JOINT -->
<!-- ================= -->

<joint name="left_wheel_joint" type="continuous">

  <parent link="base_link"/>

  <child link="left_wheel"/>

  <origin xyz="0 0.18 -0.1"
          rpy="0 0 0"/>

  <axis xyz="0 1 0"/>

</joint>



<!-- ================= -->
<!-- RIGHT WHEEL JOINT -->
<!-- ================= -->

<joint name="right_wheel_joint" type="continuous">

  <parent link="base_link"/>

  <child link="right_wheel"/>

  <origin xyz="0 -0.18 -0.1"
          rpy="0 0 0"/>

  <axis xyz="0 1 0"/>

</joint>



<!-- ================= -->
<!-- CASTER JOINT -->
<!-- ================= -->

<joint name="caster_joint" type="fixed">

  <parent link="base_link"/>

  <child link="caster_wheel"/>

  <origin xyz="-0.2 0 -0.1"/>

</joint>

<!-- ================= -->
<!-- CAMERA MOUNT -->
<!-- ================= -->

<link name="camera_mount">

  <visual>

    <geometry>
      <box size="0.05 0.05 0.25"/>
    </geometry>

    <material name="grey">
      <color rgba="0.5 0.5 0.5 1"/>
    </material>

  </visual>

</link>


<!-- CAMERA LINK -->

<link name="camera_link">

  <visual>

    <geometry>
      <box size="0.08 0.08 0.05"/>
    </geometry>

    <material name="blue">
      <color rgba="0 0 1 1"/>
    </material>

  </visual>

</link>



<!-- LIDAR LINK -->

<link name="lidar_link">

  <visual>

    <geometry>
      <cylinder radius="0.06" length="0.04"/>
    </geometry>

    <material name="orange">
      <color rgba="1 0.5 0 1"/>
    </material>

  </visual>

</link>



<!-- ================= -->
<!-- CAMERA MOUNT JOINT -->
<!-- ================= -->

<joint name="camera_mount_joint" type="fixed">

  <parent link="base_link"/>

  <child link="camera_mount"/>

  <origin xyz="0 0 0.25"/>

</joint>



<!-- ================= -->
<!-- CAMERA JOINT -->
<!-- ================= -->

<joint name="camera_joint" type="fixed">

  <parent link="camera_mount"/>

  <child link="camera_link"/>

  <origin xyz="0 0 0.15"/>

</joint>



<!-- ================= -->
<!-- LIDAR JOINT -->
<!-- ================= -->

<joint name="lidar_joint" type="fixed">

  <parent link="camera_mount"/>

  <child link="lidar_link"/>

  <origin xyz="0 0 0.30"/>

</joint>

<!-- ================= -->
<!-- ARM BASE PLATE -->
<!-- ================= -->

<link name="arm_base_link">

  <visual>

    <geometry>
      <cylinder radius="0.08" length="0.03"/>
    </geometry>

    <material name="dark">
      <color rgba="0.2 0.2 0.2 1"/>
    </material>

  </visual>

</link>


<!-- ================= -->
<!-- ARM BASE JOINT -->
<!-- ================= -->

<joint name="arm_base_joint" type="fixed">

  <parent link="base_link"/>

  <child link="arm_base_link"/>

  <origin xyz="0 0 0.13"/>

</joint>

<!-- ================= -->
<!-- SHOULDER LINK -->
<!-- ================= -->

<link name="shoulder_link">

  <visual>

    <origin xyz="0 0 0.1"/>

    <geometry>
      <box size="0.08 0.08 0.25"/>
    </geometry>

    <material name="red">
      <color rgba="1 0 0 1"/>
    </material>

  </visual>

</link>



<!-- ================= -->
<!-- SHOULDER JOINT -->
<!-- ================= -->

<joint name="shoulder_joint" type="revolute">

  <parent link="arm_base_link"/>

  <child link="shoulder_link"/>

  <origin xyz="0 0 0.03"/>

  <axis xyz="0 1 0"/>

  <limit
    lower="-1.57"
    upper="1.57"
    effort="10"
    velocity="1"/>

</joint>
<!-- ================= -->
<!-- UPPER ARM LINK -->
<!-- ================= -->

<link name="upper_arm_link">

  <visual>

    <origin xyz="0 0 0.055"/>

    <geometry>
      <box size="0.06 0.06 0.11"/>
    </geometry>

    <material name="orange">
      <color rgba="1 0.5 0 1"/>
    </material>

  </visual>

</link>



<!-- ================= -->
<!-- ELBOW JOINT -->
<!-- ================= -->

<joint name="elbow_joint" type="revolute">

  <parent link="shoulder_link"/>

  <child link="upper_arm_link"/>

  <origin xyz="0 0 0.25"/>

  <axis xyz="0 1 0"/>

  <limit
    lower="-1.57"
    upper="1.57"
    effort="10"
    velocity="1"/>

</joint>

</robot>