<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- ROS 2 Control Hardware Interface -->
    <ros2_control name="RobotSystem" type="system">

        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>


        <!-- Left Wheel -->
        <joint name="left_wheel_joint">

            <command_interface name="velocity">
            </command_interface>

            <state_interface name="position">
            </state_interface>

            <state_interface name="velocity">
            </state_interface>

        </joint>


        <!-- Right Wheel -->
        <joint name="right_wheel_joint">

            <command_interface name="velocity">
            </command_interface>

            <state_interface name="position">
            </state_interface>

            <state_interface name="velocity">
            </state_interface>

        </joint>


    </ros2_control>


    <!-- Gazebo ROS2 Control Plugin -->
    <gazebo>

        <plugin
            filename="gz_ros2_control-system"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">

            <parameters>$(arg config_file)</parameters>

         </plugin>

    </gazebo>


</robot>
  